.pixel-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 48px;
    letter-spacing: 2px;
    text-shadow:
        1px 1px 0 #744444,
       -1px 1px 0 #744545,
        1px -1px 0 #833d3d,
       -1px -1px 0 #723f3f;
}